body {
  font-family: "Inter", sans-serif;
  background: #e5e5e5;
  width: 1280px;
  margin: auto;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-item {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  height: 72px;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
}
.header-list {
  display: flex;
  padding-right: 16px;
  gap: 40px;
}
.link-logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  padding-left: 16px;
}
.link-item {
  font-family: "Inter";
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
.hero {
  background: #06071b;
  width: 1280px;
  height: 744px;
}
.hero-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}
.hero-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.hero-desc-list {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.hero-info {
  padding-top: 240px;
}
.hero-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 11px 60px;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
}

.section {
  padding: 40px 150px 0 143px;

  height: 878px;
  margin: auto;
}
.section-features {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}
.feature-desc-main {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  width: 855px;
}
.list-features {
  margin-top: 120px;
  width: 220px;
}

.man-with-laptop {
  margin-top: 56px;
  margin-bottom: 13px;
}
.feature-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.feature-desc-item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.feature-item {
  margin-bottom: 12px;
}
.list-features {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
